* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-weight: 700;

}

div {
    width: fit-content;
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1.5rem;


}

.danger {
    background-color: #ffdddd;
    border-left: #f44336 8px solid;
}

.success {
    background-color: #ddffdd;
    border-left: #04AA6D 8px solid;
}

.info {
    background-color: #e7f3fe;
    border-left: #2196F3 8px solid;
}

.warning {
    background-color: #ffffcc;
    border-left: #ffeb3b 8px solid;
    position: relative;
}

.warning > img {
    position: absolute;
    top: -10px; 
    right: -10px;
}